/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-vs.csproj
/Assembly-UnityScript.pidb
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-vs.unityproj
/PaybackTime.sln
/PaybackTime.userprefs
/PaybackTime-csharp.sln
/Assembly-CSharp.csproj
/Assembly-CSharp.pidb
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor.pidb
/Assembly-CSharp-Editor-vs.csproj
/Assembly-UnityScript.pidb
/Assembly-CSharp.pidb
